.center {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 24px;
}

.form-control {
  max-width: 20%;
}

label {
  padding-right: 10px;
  font-size: 16px;
  display: inline-block;
}
