<div class="main-container">

  <h1 class="center">BMI Calculator</h1>

  <div class="center weight">
    <label class="form-label">น้ำหนัก</label>
    <input #weight type="text" placeholder="น้ำหนัก (กิโลกรัม)" class="form-control">
  </div>

  <div class="center height">
    <label class="form-label">ส่วนสูง</label>
    <input #height type="text" placeholder="ส่วนสูง (เซนติเมตร)" class="form-control">
  </div>

  <div class="center send-value">
    <button (click)="calculateBMI(weight.value, height.value)" type="button" class="btn btn-primary">
      คำนวณ</button>
  </div>

  <div class="center">
    {{ BMIValue }}
  </div>
</div>

<router-outlet></router-outlet>
