<div class="main-container">
  <div class="center weight">
    <label>น้ำหนัก</label>
    <input #weight type="text" placeholder="น้ำหนัก" />
  </div>

  <div class="center height">
    <label>ส่วนสูง</label>
    <input #height type="text" placeholder="ส่วนสูง" />
  </div>

  <div class="center send-value">
    <button (click)="calculateBMI(weight.value, height.value)" mat-button color="primary">
      คำนวณ</button>
  </div>

  <div class="center">
    {{ BMIValue }}
  </div>
</div>

<router-outlet></router-outlet>
